.satu {
	width: 200px;
	height: 200px;
	background-color: lightcoral;
	display: inline-block;
	margin-right: 30px;

}

.dua {
	/* marginloop berlaku unutk vertikal (30px + 20px = 50px */
	width: 100px;
	height: 100px;
	background-color: lightblue;
	display: inline-block;
	margin-left: 20px;
}

.tiga {
	width: 50px;
	height: 50px;
	background-color:lightgreen;
	margin: 30px auto 40px;
}

/* */