div{
	width: 200px;
	height: 200px;
	position: absolute;

}

.satu{
	background-color: red;
	z-index: 1;
}

.dua{
	background-color: green;
	top: 100px;
	left: 100px;
}

.tiga{
	background-color: blue;
	top: 200px;
	left: 200px;
}