.container{
	width: 800px;
	border: 1px solid black;
	margin: auto;
	padding: 5px;
}


.kiri{
	width: 150px;
	background-color: cadetblue;
	float: left;
	height: 500px;
}

.tengah{
	width: 500px;
	background-color: darkolivegreen;
	float: left;
	height: 500px;
}

.kanan{
	width: 150px;
	background-color: khaki;
	float: left;
	height: 500px;
}

/* clear use micro  */

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
 .cf:before,
 .cf:after {
		 content: " "; /* 1 */
		 display: table; /* 2 */
 }
 
 .cf:after {
		 clear: both;
 }
 
 /**
	* For IE 6/7 only
	* Include this rule to trigger hasLayout and contain floats.
	*/
 .cf {
		 *zoom: 1;
 }