.container{
	width: 700px;
	border: 1px solid black;
	margin: auto;
}


.kotak{
	width: 80px;
	height: 80px;
	color: wheat;
	background-color: blueviolet;
	line-height: 80px;
	font-size: 30px;
	margin: 3px;
	text-align: center;
}